.card-demo {
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #27272a;
  --zinc-800: #e4e4e7;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1rem;
  width: 14rem;

  background-color: transparent; /* إزالة الخلفية الغامقة */
  border: 1px solid #d1d5db; /* لون رمادي ناعم */
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.image_container-demo {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container-demo .image-demo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
}

.title-demo {
  overflow: clip;
  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.size-demo {
  font-size: 0.75rem;
  color: var(--light);
}

.list-size {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;

  padding: 0.35rem 0.65rem;
  background-color: #f4f4f5;

  font-size: 0.75rem;
  color: #333;

  border: 1px solid #d4d4d8;
  border-radius: 0.375rem;

  transition: all 0.2s ease-in-out;
}

.item-list-button:hover {
  border: 1px solid var(--primary);
  background-color: #ede9fe;
}
.item-list-button:focus {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary-shadow);
  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background-image: var(--bg-linear);
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
  text-wrap: nowrap;
  border: 2px solid hsla(262, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.cart-button .cart-icon {
  width: 1rem;
}
