.btn-task {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  min-width: 130px;
  height: 48px;
  padding: 0 16px; /* تضمن وجود مسافة داخلية حتى مع نص صغير */
  transition: all 0.3s ease-in-out;
}

.btn-task:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #c9d3fe;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  top: 0;
  z-index: 1;
}

.btn-task:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn-task .btn-task-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.1em;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  padding: 10px 0;
  gap: 8px;
}

.btn-task:hover .btn-task-content {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* Optional: for disabled button visual */
.btn-task:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* لما يكون الزر فيه validation error، نلغي الـ after */
.btn-task.btn-error::after {
  display: none !important;
}

.btn-task.btn-error:hover::after {
  display: none !important;
}

.btn-task.btn-error {
  background-color: #dc2626  !important; /* red-600 */

}

.btn-task.btn-error:hover {
  background-color: #b91c1c !important; /* red-700 */
}

