
/*the style has written with Scss and*/
/* files on my GitHub👾 check the pio*/

.black-friday-component {
  --count: 0;
  --minutes: 60;
  --seconds: 60;
  background-color: white;
  width: fit-content;
  
}

.black-friday-component .timer {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  overflow: hidden;
  width: calc(244px + 0rem);
  text-align: center;

}
.black-friday-component .timer .colon {
  width: 8px;
  color: #000000;
  font-size: 2rem;
}
.black-friday-component .timer .item {
  text-align: center;
  width: 55px;
  height: fit-content;
}
.black-friday-component .timer .item .days,
.black-friday-component .timer .item .hours,
.black-friday-component .timer .item .minutes,
.black-friday-component .timer .item .seconds {
  text-align: center;
  width: 55px;
  overflow: hidden;
  height: 40px;
  color: #000000;

}
.black-friday-component .timer .item .day,
.black-friday-component .timer .item .hour,
.black-friday-component .timer .item .min,
.black-friday-component .timer .item .sec {
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.black-friday-component .timer .item .day span,
.black-friday-component .timer .item .hour span,
.black-friday-component .timer .item .min span,
.black-friday-component .timer .item .sec span {
  height: 40px;
  color: #000000;
  font-size: 2rem;
  display: inline-block;
}
.black-friday-component .timer .item .day {
  --count: var(--days);
  animation: slide calc(var(--count) * 86400s) ease-out 0s 31 normal both;
}
.black-friday-component .timer .item .hour {
  --count: var(--hours);
  animation: slide calc(var(--count) * 3600s) steps(var(--count)) 0s 24 normal
    both;
}
.black-friday-component .timer .item .min {
  --count: var(--minutes);
  animation: slide calc(var(--count) * 60s) steps(var(--count)) 0s 60 normal
    both;
}
.black-friday-component .timer .item .sec {
  --count: var(--seconds);
  animation: slide calc(var(--count) * 1s) steps(var(--count)) 0s 60 normal both;
}
.black-friday-component .timer .item p {
    text-align: center;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 400;
}

@keyframes slide {
  0% {
    transform: translateY(calc(-40px * var(--count)));
  }
  99.6% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-40px * var(--count)));
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
    scale: 1;
  }
  50% {
    transform: translateY(-10px);
    scale: 1.1;
  }
  100% {
    transform: translateY(0);
    scale: 1;
  }
}
